body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;  /*manda las cosas a la derecha izquierda o centro*/
}

header nav .nav-rigth-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .nav-rigth-section a {
    margin-right: 15px;
    color: #000000;
}

nav .nav-rigth-section .menu-icon {
    background-image: url("http://www.myiconfinder.com/uploads/iconsets/256-256-ed559f9ab4ee6cec08ffde71c58a68af-grid.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

nav .nav-rigth-section img {
    border-radius: 50%;
    margin-left: 10px;
}

/*###########Init Main#########*/

main {
    margin-top: 150px;
    text-align: center;
}

main .main-logo {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img {
    width: 272px;
    height: 92px;
}

main .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

main .main-input .search-icon,
main .main-input .micro-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

main .main-input .search-icon {
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    opacity: 0.4;
}

main .main-input .micro-icon {
    background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    cursor: pointer;
}

main .main-buttons {
    width: 530px;
    margin: 0 auto;
}

main .main-buttons div {
    display: inline-block;
    margin: 0 5px;
}

main .main-buttons button {
    padding: 0 15px;
    background-color: #f2f2f2;
    border: none;
    color: #5f6368;
    border-radius: 5px;
    border: 1px solid #f5f5f5;
    height: 36px;
    font-size: 14px;
    margin-right: 15px;
}

main .main-buttons button:hover {
    color: #222;
    border: 1px solid #c6c6c6;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    background-color: gradient(top, #f8f8f8, #f1f1f1);
}
/*######################Init footer#########################*/

.footer {
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    display: grid;
    /*grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;    
}

.footer .footer-options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.footer div {
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}


footer ul {
    margin: 19px;
    list-style: none;
    display: flex;
    padding-left: 10px;
}

footer .footer-options .footer-left {
    justify-self: left;
}

footer .footer-options .footer-right {
    justify-self: right;
}

footer ul li a {
    margin-right: 27px;
    color: #5f6368;
}

footer ul li a:hover {
    text-decoration: underline;
}

.footer .region p{
    margin-left: 27px;
    color: #5f6368
}

/************End Footer***************************

/*.footer{
 position: fixed;
 bottom: 0;
 width: 100%;
 background-color: #f2f2f2;
}

.footer .footer-options{
    overflow: auto;
}

.footer div {
    border-top: 1px solid #dfe1e5;
    color: #5f6368;
    padding: 0.95em 0 0.95em 2.2em;
}

.footer a {
    color: #5f6368;
}

.footer .footer-options ul{
    display: inline-block;
}

.footer .footer-options ul:last-child{
    float: right;
}

.footer .footer-options li{
    margin: 0 1.8em 0 0;
}

.footer .footer-region p {
    font-size: 1.1em;
    font-weight: 500;
    margin: 0;
}


.footer-options  {
    justify-self: left;
}*/
